body {
    background-color: rgb(0, 0, 0);
    color: cornsilk;
    font-family: Georgia, serif;
}

a, a:visited {
    color: cornsilk;
}
.clearfix {
    clear: both;
}

#container {
    width: 85%;
    max-width: 640px;
    margin: 0 auto;
}

.image {
    margin-bottom: 40px;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    padding: 5px;
    background-color: rgb(251, 251, 251);
}


.directLink {
    font-size: 0.7em;
    bottom: -5px;
    left: 0px;
    width: 100%;
    text-align: right;
    letter-spacing: .2px;
    font-family: sans-serif;
}


.directLink a {
    background: rgba(246, 8, 18, 0.7);
    padding: 3px;
    font-weight: bold;
    border-radius: 1px;
}

.title {
    float: left;
    font-size: 1.4em;
    font-weight: bold;
    color: rgba(246, 197, 0, 0.7);
}

.pager {
    float: right;
    border-radius: 1px;

}

.pager a, pager a:visited {
    text-decoration: none;
    padding: 3px;
    background: rgba(246, 8, 18, 0.7);
    color: cornsilk;

}

.pager a:hover {
    background: rgba(246, 8, 18, 0.7);
    color: cornsilk;
}

footer {
    font-size: 14px;
}

img {
    width: 100%;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.kujeti {
    margin: auto;
}
