<!DOCTYPE html>
<html>
<head>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>Sokol Saiti • Photos</title>
    <meta property="og:title" content="Sokol Saiti • Photos"/>
    <meta property="og:type" content="profile"/>
    <meta property="og:url" content="{{ base_url }}/"/>
    <meta property="og:image" content="http://photos.sokol.saiti.io/static/img/avatar.png"/>
    <meta property="og:description" content="Sokol Saiti's photos."/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div id="container">
    {% block content %} {% endblock %}
</div>
</body>
</html>