<!DOCTYPE html>
<html>
<head>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>{{ web_page_title }}</title>
    <meta property="og:title" content="Sokol Saiti • Photos"/>
    <meta property="og:type" content="profile"/>
    <meta property="og:url" content="{{ base_url }}/"/>
    <meta property="og:image" content="{{ base_url }}/static/img/avatar.png"/>
    <meta property="og:description" content="Sokol Saiti's photos."/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div id="container">
    {% block content %} {% endblock %}


    <footer>
        <hr/>
        <span>&copy; Sokol Saiti {{ current_datetime.year }}</span>
        <span id="github"> <a href="https://github.com/sokolsaiti/photos"  target="_blanks">
            <img alt="View GitHub repository" src="/static/img/github.png" /></a></span>
    </footer>
</div>
</body>
</html>