<!DOCTYPE html>
<html>
<head>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>Sokol Saiti - Photos</title>
    <meta property="og:title" content="Sokol Saiti"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="http://photos.sokol.saiti.io/"/>
    <meta property="og:image" content="http://photos.sokol.saiti.io/avatar.png"/>
    <meta property="og:description" content="Sokol Saiti's photos."/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div id="container">
    <div id="head"><span class="title">photos.sokol</span>
        <div class="pager"><a href="#"> Previous </a> · <a href="/"> Home </a> · <a href="#"> Next </a></div>
        <div class="clearfix"></div>
    </div>
    <br/> {% for photo in photo_list %}
    <div class="image"><img src="{{ url_for('static', filename='photos/' + photo[0]|string +'.JPG') }}">
        <h3 class="directLink"><span> <a
                href="{{ url_for('static', filename='photos/' + photo[0]|string +'.JPG') }}">{{ photo[0]|string +'.JPG' }}</a> </span>
        </h3></div>
{% endfor %}
    <footer>
        <hr/>
        Copyright Sokol Saiti
    </footer>
</div>
</body>
</html>

