{% extends "base.html" %}

{% block content %}
    <div id="head"><span class="title">Sokol Saiti • Photos</span>
        <div class="pager">
            {% if has_previous_page %}
                <a href="/{{ current_page - 1 }}"> Previous </a>
            {% else %}
                <a href=""> Previous </a>
            {% endif %}
            ·
            <a href="/"> Home </a>
            ·
            <a href="/{{ current_page + 1 }}"> Next </a></div>
        <div class="clearfix"></div>
    </div>
    <br/> {% for photo in photo_list %}
    <div class="image"><img src="{{ url_for('static', filename='photos/' + photo[0]|string +'.JPG') }}">
        <h3 class="directLink"><span> <a
                href="p/{{ photo[0]|string }}"># {{ photo[0]|string }}</a> </span>
        </h3></div>
{% endfor %}
    <footer>
        <hr/>
        &copy; Sokol Saiti
    </footer>

{% endblock %}

